<div class="row">
  <div class="col-md-4 col-xs-12"><h1>Listing articles: <%= @publication.length %>
  <p><%= link_to new_publication_path, class: "btn btn-success" do %>
    <i class="glyphicon glyphicon-plus-sign"> New Publication</i>
<% end %></p></h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @publication.each do |publication| %>
    <tr>
      <td width="25%"><%= publication.title %></td>
      <td width="50%"><%= publication.text %></td>
      
      <td width="25%"><%= link_to publication, class: "btn btn-danger btn-sm", :method => :delete, :confirm => "Are you sure?" do %>
        <i class="glyphicon glyphicon-remove">
        <% end %></td>
    </tr>
  <% end %>
</table>
</div>
<div class="col-md-4"></div><div class="col-md-4 col-xs-12" style="padding-top: 20px;">
   <% @publication.each do |publication| %>
    <div class="аа" style="border-bottom-width: 5px; border-style: dashed; padding">
       <div class="zz" style="background: rgba(255,255,255,0.2); padding: 10px;">
    <h3><%= publication.title %></h3>
    <p><%= publication.text %></p>
  </div>
    </div>
    <% end %>
    
  </div>
 
</div></div>
</div>